<h2 mat-dialog-title>Create a new Word Search</h2>

<mat-dialog-content>

  <form [formGroup]="formGroup">
    <mat-form-field>
      <input matInput
        required
        type="number"
        placeholder="Width"
        formControlName="width"
      />
      <mat-error *ngIf="widthField.invalid">
        <span *ngIf="widthField.hasError('required')">Width is required</span>
        <span *ngIf="widthField.hasError('min')">That's too small!</span>
        <span *ngIf="widthField.hasError('max')">That's too large!</span>
        <span *ngIf="widthField.hasError('pattern')">Width must be a whole number</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
        required
        type="number"
        placeholder="Height"
        formControlName="height"
      />
      <mat-error *ngIf="heightField.invalid">
        <span *ngIf="heightField.hasError('required')">Height is required</span>
        <span *ngIf="heightField.hasError('min')">That's too small!</span>
        <span *ngIf="heightField.hasError('max')">That's too large!</span>
        <span *ngIf="heightField.hasError('pattern')">Height must be a whole number</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput
        type="text"
        placeholder="Enter a category here if you like"
        formControlName="category"
        (keydown.enter)="searchCategory()"
      />
      <mat-spinner matSuffix
        *ngIf="isAwaitingSearch; else searchButton"
        color="primary"
        [diameter]="16"
      ></mat-spinner>
      <ng-template #searchButton>
        <mat-icon matSuffix
          color="primary"
          class="category-search-button"
          (click)="searchCategory()"
        >search</mat-icon>
      </ng-template>
      <mat-error *ngIf="categoryField.invalid">
        <span *ngIf="categoryField.hasError('pattern')">The category must be a single word containing letters only</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput
        required
        matTextareaAutosize
        matAutosizeMaxRows="10"
        placeholder="Enter one word per line"
        formControlName="wordsText"
      ></textarea>
      <mat-error *ngIf="wordsField.invalid">
        <span *ngIf="wordsField.hasError('required')">You need to choose some words</span>
        <span *ngIf="wordsField.hasError('pattern')">Please enter one word per line, letters only</span>
      </mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="parameters"
    [disabled]="formGroup.invalid"
  >Create</button>
</mat-dialog-actions>
