@import "src/theme/theme-variables";

$palette-primary: map-get($app-theme, primary);
$palette-accent: map-get($app-theme, accent);
$palette-warn: map-get($app-theme, warn);

$color-primary: map-get($palette-primary, 500);
$color-accent: map-get($palette-accent, 500);
$color-warn: map-get($palette-warn, 500);
