@import "colors";


$DefaultScrollbarThickness: 10px;


@mixin custom-scrollbar(
  $thickness: $DefaultScrollbarThickness,
  $colorPalette: $palette-accent
) {

  $trackColor: map-get($colorPalette, 50);
  $thumbColor: map-get($colorPalette, 200);
  $shadowSize: $thickness / 2;

  &::-webkit-scrollbar {
    background-color: $trackColor;

    &-track,
    &-thumb {
      box-shadow: inset 0 0 $shadowSize rgba(0, 0, 0, 0.3);
      border-radius: $thickness;
    }

    &-track {
      background-color: $trackColor;
    }

    &-thumb {
      background-color: $thumbColor;
    }
  }
}


@mixin custom-horizontal-scrollbar(
  $thickness: $DefaultScrollbarThickness,
  $colorPalette: $palette-accent
) {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    height: $thickness;
  }

  @include custom-scrollbar($thickness, $colorPalette);
}


@mixin custom-vertical-scrollbar(
  $thickness: $DefaultScrollbarThickness,
  $colorPalette: $palette-accent
) {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: $thickness;
  }

  @include custom-scrollbar($thickness, $colorPalette);
}
