@import "src/style/colors";
@import "src/style/utilities";

.description {
  max-width: 50vw;
}

.list-actions {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;

  > *:not(:last-child) {
    margin-right: 1rem;
  }
}

.content {
  $pad: 0.5rem;

  margin: 0;
  padding: 0;
  box-shadow: inset 0 0 $pad 0 rgba(black, 0.2);

  @include custom-vertical-scrollbar($colorPalette: $palette-accent);

  .mat-selection-list {
    outline: none;

    .mat-list-option {
      height: 2.5em;
    }
  }
}

.actions {
  justify-content: space-between;
}
