.game-card {
  background-color: rgb(248, 252, 248);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.grid {
  box-shadow: 0 0 6px -2px;
  background-color: rgb(252, 248, 248);
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  table {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 2;
    border-spacing: 0;
  }

  td {
    margin: 0;
    padding: 0;
  }
}

.word-list {
  text-align: left;
  font-size: 1.5em;
  padding-left: 2em;

  h4 {
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0.5em;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 0;
  }
}

.pending-list {
  li {
    .mat-icon-button {
      height: initial;
      line-height: initial;
    }

    .hint-icon {
      transition: opacity 0.2s;
      opacity: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);

      .hint-icon {
        opacity: 1;
      }
    }
  }
}

small {
  font-style: italic;
  color: #999;
}

$block-size: 2rem;
$discovered-color: rgb(230, 230, 230);

.letter-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  width: $block-size;
  height: $block-size;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0);
  border: 1px dotted;
  border-color: rgba(0, 0, 0, 0);

  &.selected {
    border-color: rgba(0, 0, 0, 0.8);
  }

  &.discovered {
    color: blue;
    font-weight: bold;
    background-color: $discovered-color;
    border: 1px solid $discovered-color;
  }

  box-shadow: 0 0 0 0 red;

  &.hinting {
    box-shadow: 0 0 5px 0 red;
    position: relative;
    z-index: 3;
    border-radius: 50%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
}
