@import "src/style/colors";
@import "src/style/utilities";


$block-size: 2rem;
$discovered-color: $color-primary;
$hover-color: map-get($palette-accent, 100);
$selected-color: map-get($palette-primary, 100);
$hint-colors: (
  map-get($palette-primary, 200),
  map-get($palette-accent, 200),
);
$corner-radius: $block-size / 2;
$canvas-stroke-color: map-get($palette-accent, 100);


.canvas-stroke {
  color: $canvas-stroke-color;
}

main,
section {
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background-color: transparentize(map-get($palette-primary, 50), 0.75);
  box-shadow: none;

  @include custom-horizontal-scrollbar;
}

.grid {
  box-shadow: 0 0 10px -2px;
  border-radius: $corner-radius;
  background-color: rgb(252, 248, 248);
  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    // bottom: 0;
    // right: 0;
    z-index: 1;
    border-radius: inherit;
  }

  table {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    z-index: 2;
    border-spacing: 0;
  }

  td {
    margin: 0;
    padding: 0;
  }
}

.word-bank {
  text-align: left;
  padding: 0 2rem;
  margin-left: 1rem;
  font-size: 1.2rem;

  h3 {
    font-size: 1.2em;
    margin: 0.5rem 0;
  }

  ul {
    margin: 0.5rem 0;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2px 0;
    border-radius: 1em;

    span {
      cursor: default;
      font-variant: small-caps;
    }
  }
}

.pending-list {
  $hint-button-width: 32px;

  position: relative;
  left: -$hint-button-width;

  li {
    .hint-button {
      height: initial;
      line-height: initial;
      width: $hint-button-width;
    }

    .hint-icon {
      transition: opacity 0.2s;
      opacity: 0;
      color: map-get($palette-accent, 700);
    }

    &:hover {
      background-color: map-get($palette-accent, 50);

      .hint-icon {
        opacity: 1;
      }
    }
  }
}

small {
  font-style: italic;
  color: #999;
}

.letter-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  width: $block-size;
  height: $block-size;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0);
  border-radius: $corner-radius;

  &:hover {
    background-color: $hover-color;
    cursor: pointer;
  }

  &.selected {
    background-color: $selected-color;
  }

  &.discovered {
    color: $discovered-color;
    font-weight: bold;
  }

  &.hinting {
    position: relative;
    z-index: 3;
    animation: hinting 1s infinite;
  }
}

$n: length($hint-colors);
$size: 1rem;

@keyframes hinting {
  from,
  to {
    background-color: nth($hint-colors, 1);
  }

  @for $i from 2 through $n {
    #{($i - 1) * 100% / $n} {
      background-color: nth($hint-colors, $i);
    }
  }
}
