<div class="canvas-stroke" #canvasStroke></div>

<section class="actions">
  <button
    mat-raised-button
    (click)="generate()"
    color="primary"
  >
    Regenerate with same configuration
  </button>
  <button
    mat-raised-button
    (click)="createNewWordSearch()"
    color="primary"
  >
    Create a new Word Search
  </button>
</section>

<main>
  <div class="grid">
    <canvas #gridCanvas width="0" height="0"></canvas>
    <table #gridTable>
      <tr *ngFor="let row of rows">
        <td *ngFor="let column of columns">
          <div
            class="letter-block"
            [ngClass]="blockClasses(row, column)"
            (click)="select(row, column)"
          >
            {{ letter(row, column) }}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="word-bank">
    <mat-slide-toggle
      [(ngModel)]="showPendingWords"
    >Reveal Pending Words</mat-slide-toggle>
    <div class="pending-words" *ngIf="showPendingWords">
      <h3>Pending</h3>
      <ul class="pending-list">
        <li *ngFor="let word of pendingWords">
          <button mat-icon-button
            class="hint-button"
            (click)="revealHint(word)"
          >
            <mat-icon
              class="hint-icon"
              aria-label="Reveal a hint"
              matTooltip="Reveal a hint"
            >visibility</mat-icon>
          </button>
          <span>{{ word }}</span>
        </li>
      </ul>
    </div>
    <div class="discovered-words">
      <h3>
        Discovered
        <small *ngIf="discoveredWords.length === -1">
          Nothing yet&hellip;
        </small>
      </h3>
      <ul>
        <li *ngFor="let word of discoveredWords">
          <span>{{ word }}</span>
        </li>
      </ul>
    </div>
  </div>
</main>

<section class="status">
<!-- 
  <div>
    <div *ngIf="revealedPendingWords; then revealedBlock else unrevealedBlock"></div>
    <ng-template #revealedBlock>
      <mat-icon>info</mat-icon>
      You have revealed the pending words. You can no longer receive the bonus.
    </ng-template>
    <ng-template #unrevealedBlock>
      <mat-icon>grade</mat-icon>
      You still haven't revealed the pending words.
    </ng-template>
  </div>
 -->
  <div>
    <p>{{ hintCount }} hints shown so far</p>
  </div>
</section>
